<!--Panel 1-->
<panel-01 avatar="assets/avatar1.png" name="Jesus Christ" job="Architect & Engineer" quote="My favorite Catholic holiday is Easter. For those of you that don't know, Easter is the day we celebrate Jesus rising from the grave and coming back to Earth as a rabbit that hides colored eggs.">
</panel-01>
<!--Panel 2-->
<panel-01 avatar="assets/avatar2.png" name="Michael Jackson" job="Singer & dancer" [notAvailable]="true" quote="You're a vegetable!">
</panel-01>
<!--Panel 3-->
<panel-01 avatar="assets/avatar3.png" name="Albert Einstein" job="Inventor & Theoretical physicist" [notAvailable]="true" quote="The only source of knowledge is experience">
</panel-01>
<!--Panel 4-->
<panel-01 avatar="assets/avatar4.png" name="Jackie Chan" job="Figther & Comedian" quote="I never wanted to be the next Bruce Lee. I just wanted to be the first Jackie Chan.">
</panel-01>
