<!--Panel 1-->
<div class="panel">
  <div class="header">
    Name: <b>Jesus Christ</b>
  </div>
  <div class="container">
    <img src="assets/avatar1.png" alt="Avatar">
    <p>Architect & Engineer</p>
    <blockquote>
      My favorite Catholic holiday is Easter. For those of you that don't know, Easter is the day we celebrate Jesus rising from the grave and coming back to Earth as a rabbit that hides colored eggs.
    </blockquote>

  </div>
  <div class="footer">available:
    <span class="availability">✓</span>
  </div>
</div>
<!--Panel 2-->
<div class="panel">
  <div class="header">
    Name: <b>Michael Jackson</b>
  </div>
  <div class="container">
    <img src="assets/avatar2.png" alt="Avatar">
    <i>Singer & dancer</i>
    <blockquote>You're a vegetable! </blockquote>
  </div>
  <div class="footer">available:
    <span class="not availability">✕</span>
  </div>
</div>
<!--Panel 3-->
<div class="panel">
  <div class="header">
    Name: <b>Albert Einstein</b>
  </div>
  <div class="container">
    <img src="assets/avatar3.png" alt="Avatar">
    <p>Inventor & Theoretical physicist</p>
    <blockquote>The only source of knowledge is experience</blockquote>
  </div>
  <div class="footer">available:
    <span class="not availability">✕</span>
  </div>
</div>
<!--Panel 4-->
<div class="panel">
  <div class="header">
    Name: <b>Jackie Chan</b>
  </div>
  <div class="container">
    <img src="assets/avatar4.png" alt="Avatar">
    <p>Figther & Comedian</p>
    <blockquote>I never wanted to be the next Bruce Lee. I just wanted to be the first Jackie Chan. </blockquote>
  </div>
  <div class="footer">available:
    <span class="availability">✓</span>
  </div>
</div>
