<!--Panel 1-->
<panel-03 name="Jesus Christ">
  <span class="content">
    <img src="assets/avatar1.png" alt="Avatar">
    <p>Architect & Engineer</p>
      <blockquote>
    My favorite Catholic holiday is Easter. For those of you that don't know, Easter is the day we celebrate Jesus
    rising from the grave and coming back to Earth as a rabbit that hides colored eggs.
  </blockquote>
  </span>
  <span class="footer">available:
      <span class="availability">✓</span>
    (24 / 7 .. everywhere!)
  </span>
</panel-03>
<!--Panel 2-->
<panel-03 name="Michael Jackson">
  <span class="content">
    <img src="assets/avatar2.png" alt="Avatar">
    <p>Singer & dancer</p>
      <div style="flex:1">
    <blockquote>
      You're a vegetable!
    </blockquote>
    <br/>
    <img src="assets/flickr.png" alt="Follow me on flickr! Go go go!!" style="width:50px">
  </div>
  </span>

  <span class="footer">If you wanna reach me, contact jesus above ^^</span>

</panel-03>
<!--Panel 3-->
<panel-03 name="Albert Einstein">
  <span class="content">
    <img src="assets/avatar3.png" alt="Avatar">
    <p>Inventor & Theoretical physicist</p>
    <div style="flex:1; display: flex; flex-direction: column">
      <blockquote>
        The only source of knowledge is experience
      </blockquote>
      <img src="assets/click_here.gif" alt="Wanna write me?" style="width:223px; align-self: center">
      <a href="mailto:example@example.org">Email me!</a>
    </div>
  </span>

  <span class="footer">available:
      <span class="not availability">✕</span>
  </span>
</panel-03>
<!--Panel 4-->
<panel-03 name="Jackie Chan">

  <span class="content">
  <p>Figther & Comedian</p>
      <div style="flex:1">
    <blockquote>
      I never wanted to be the next Bruce Lee. I just wanted to be the first Jackie Chan.
    </blockquote>
    <br/>
    <blockquote>
      I’m crazy, but I’m not stupid.
    </blockquote>
    <br/>
    <blockquote>
      Don't try to be like Jackie. There is only one Jackie. Study computers instead.
    </blockquote>
  </div>
  <img src="assets/avatar4.png" alt="Avatar">
  </span>

  <span class="footer">available:
      <span class="availability">✓</span>
  </span>
</panel-03>
